@mixin small-mobile {
  @media (max-width: #{$small-mobile - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop - 1px}) {
    @content;
  }
}

@mixin body-text {
  color: rgba($clr-main, 0.6);
  font-weight: 300;
  letter-spacing: -0.02em;
  font-size: $fs-body;

  @include mobile {
    line-height: $lh-mobile;
  }
}

@mixin filter-btn-base {
  position: relative;
  border: none;
  background: none;
  color: rgba($clr-main, 0.3);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    color $transition-base,
    opacity $transition-base;

  &:hover {
    color: var(--color-main);
    opacity: 0.9;
  }

  &.is-active {
    color: var(--color-main);
  }
}
